@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

*{
    margin: 0px;
}
body{
    background-color: #fffbb7;
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
}

header{
    height: 20rem;
    background-color: #0b8d49;
    background-image: url("/image/rick-and-morty-logo.png");
    background-position: center ;
    background-repeat: no-repeat;
}

select{
    background-color:#9cff63;
    color: black;
    border-radius: 1rem;
    padding: 1rem;
}
h2{
    font-size: 32px;
}
p{
    font-size: 22px;
}

footer{ 
    background-color: #0b8d49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 3rem;
}
.title{
    font-size:5rem
}
.generate{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color:#9cff63;
    border: 2px solid black;
    border-radius:15px ;
    color:blacK;
    margin: 15px;
    padding: 20px;
}

.img-card{
    border: 2px dotted white;
}